*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #1992d4;
    --card-bg-color: #ffffff;
    --main-bg-color: #e2e8f0;
    --card-additional-color: #f0b429;
    --main-text-color: #000000;
    --second-text-color: #ffffff;
    --third-text-color: #7e7e7e;
    --shadow-color: #b7bec7;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr) clamp(300px, 30%, 400px);
    grid-template-rows: 200px auto;
}

.image-link {
    display: grid;
    align-items: center;
    grid-template-columns: 50px auto;
    grid-column-gap: 15px;
}

.image-container {
    display: grid;
    align-items: center;
    justify-items: center;
}


/* Sidebar */

.sidebar {
    padding: 20px;
    display: grid;
    align-content: flex-start;
    row-gap: 60px;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    background-color: var(--accent-color);
}

.logo {
    color: var(--second-text-color);
    text-decoration: none;
}

.logo-icon {
    filter: invert(100%) sepia(43%) saturate(0%) hue-rotate(105deg) brightness(106%) contrast(102%);
}

.logo-text {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}

.nav-list {
    display: grid;
    row-gap: 20px;
    list-style-type: none;
}

.nav-item-icon {
    display: block;
    width: 25px;
    filter: invert(100%) sepia(43%) saturate(0%) hue-rotate(105deg) brightness(106%) contrast(102%);
}

.nav-item-link {
    font-size: 20px;
    font-weight: 600;
    color: var(--second-text-color);
    text-transform: capitalize;
    text-decoration: none;
}


/* Header */

.header {
    padding: 20px clamp(20px, 40px, 40px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    position: relative;
    grid-column: 2 / span 5;
    grid-row: 1 / span 1;
    background-color: var(--card-bg-color);
    box-shadow: 0 3px 6px var(--shadow-color);
}

.container-line {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button {
    width: 110px;
    min-width: 80px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 12px 0px;
    color: var(--second-text-color);
    font-weight: 600;
}

.header-icon {
    width: 25px;
}

.menu,
.manage {
    justify-content: flex-end;
}

.manage {
    margin-right: 40px;
}

.manage-user-photo {
    width: 40px;
    border-radius: 50%;
}

.manage-user-name {
    font-size: 20px;
    font-weight: 600;
}

.search-field {
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 15px;
    line-height: 30px;
    width: 100%;
}

.welcome {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 1fr 2fr;
    column-gap: 20px;
    row-gap: 10px;
}

.welcome {
    font-weight: 600;
}

.welcome-user-photo {
    width: 100%;
    border-radius: 50%;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}

.welcome-message {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}

.welcome-user-name {
    font-size: 24px;
}


/* Main */

.main {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    grid-column: 2 / span 5;
    grid-row: 2 / span 1;
    background-color: var(--main-bg-color);
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.projects {
    grid-row: 1 / span 2;
}

.card {
    padding: 40px;
    background-color: var(--card-bg-color);
    border-radius: 10px;
}

.announs-title {
    margin-bottom: 5px;
}

.announs-text {
    color: var(--third-text-color);
}

.straight-separator {
    margin: 20px 0 20px -10px;
    background-color: var(--third-text-color);
}


.trending-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending-link {
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: inherit;
}

.trending-icon {
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.trending-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.trending-item-descriptor {
    font-weight: 500;
    font-size: 14px;
    color: var(--main-text-color);
}

.trending-item-name {
    font-weight: 400;
    font-size: 16px;
    color: var(--third-text-color);
}