*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header,
.sidebar,
.projects,
.announs-and-trending {
    border: 1px solid red;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px auto;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}

.header {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
}

.projects {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
}

.announs-and-trending {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}